@import "../../../styles/colors";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 16px;
  background-color: $white;

  label {
    font-size: 18px;
    font-weight: 400;
    color: $darkGray;
  }
  img {
    width: 30px;
    height: 30px;
  }
}