@import "../../../styles/colors";
@import "../../../styles/font";
@import "../../../styles/global";

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 60px;
  background-color: $red;

  .title {
    color: $white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
  }
}