@import "../../../styles/colors";
@import "../../../styles/font";
@import "../../../styles/global";

.container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $red;

  .title {
    color: $white;
    text-align: center;
    font-size: $font-size-large;
  }
}