@import '../../../styles/colors';

.container {
  width: 60px;
  height: 18px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(200,200,200,.2);
  color: $black;
  padding: 10px 5px;
  text-align: center;
  line-height: 18px;
  border-radius: 24px;
}

.selectedGreen {
  background-color: $green;
  color: $white;
}

.selectedRed {
  background-color: $red;
  color: $white;
}