.container {
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 6px 16px -6px #a4a4a4;

  .title {
    height: 26px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 10px;
    background-color: #f5f5f5;
  }

  .content {
    padding: 10px;
  }
}