@import "../../../styles/colors";

.container {
  padding: 10px 10px 0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 6px 16px -6px #a4a4a4;
  position: relative;
  top: -60px;
  z-index: 100;
  background-color: white;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 18px 10px;

    div {
      display: flex;
      flex-direction: column;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
    .label {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
      color: #7f7f7f;
    }
    .text {
      font-size: 16px;
      font-weight: 500;
    }
    .incomeText {
      color: $red;
    }
    .expenditureText {
      color: $green;
    }
  }
}