@import "../../../styles/colors";

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    .modalContent {
      padding: 0 10px;
      margin-bottom: 70px;
      height: 250px;
      overflow-y: scroll;

      .contentHeader {
        color: #7f7f7f;
        margin: 20px 0;
      }
      .categoryList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .category {
          height: 40px;
          font-size: 16px;
          text-align: center;
          line-height: 40px;
          border-radius: 5px;
          background-color: #f5f5f5;
          color: #75787B;
        }
        .selected {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
