@import "../../styles/colors";
@import "../../styles/global";

.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  z-index: $z-index-top;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
}